* {
  font-family: poppins;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
}
/* 
  _   _             ____             
 | \ | |           |  _ \            
 |  \| | __ ___   _| |_) | __ _ _ __ 
 | . ` |/ _` \ \ / /  _ < / _` | '__|
 | |\  | (_| |\ V /| |_) | (_| | |   
 |_| \_|\__,_| \_/ |____/ \__,_|_|    
 */

.logo {
  width: 13vw;
}

.navBar {
  border-bottom: 0.17vw black solid;
  display: flex;
  padding-bottom: 0.4%;
  margin-bottom: 0.4%;
}

body {
  background-color: rgba(28, 110, 109, 0.365);
}

.navDiv {
  padding-top: 3%;
  padding-left: 10%;
  width: 65%;
}
.navA {
  margin-right: 10%;
  color: inherit;
  text-decoration: inherit;
  position: relative;
  font-size: 1vw;
}

.divBtn {
  position: relative;
  right: 0vw;
}

.divBtn button {
  border-radius: 2vw;
  padding: 25% 35% 25% 35%;
  font-size: 1vw;
}

/* 
  ______ _                       
 |  ____| |                      
 | |__  | | __ ___   _____  _ __ 
 |  __| | |/ _` \ \ / / _ \| '__|
 | |    | | (_| |\ V / (_) | |   
 |_|    |_|\__,_| \_/ \___/|_|   
*/

.flavors {
  display: flex;
  font-family: poppins;
  font-size: 2.3vw;
  padding-left: 5vw;
  border-bottom: 0.17vw black solid;
}

.flavorIMG {
  display: flex;
}

.flavorIMG img {
  width: 8vw;
  height: auto;
}

.flavorPic img {
  width: 30vw;
}

/* 
  _____                                _   _             
 |  __ \                              | | (_)            
 | |__) |___  ___  ___ _ ____   ____ _| |_ _  ___  _ __  
 |  _  // _ \/ __|/ _ \ '__\ \ / / _` | __| |/ _ \| '_ \ 
 | | \ \  __/\__ \  __/ |   \ V / (_| | |_| | (_) | | | |
 |_|  \_\___||___/\___|_|    \_/ \__,_|\__|_|\___/|_| |_|
*/

.resv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.475);
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#resvClose {
  position: fixed;
  left: 3vw;
  top: 0vw;
  color: white;
  font-size: 2.5vw;
}

.resvCard {
  background-color: rgb(217, 217, 217);
  margin: 5%;
  margin-top: 1%;
  padding: 1%;
  border-radius: 3vw;
  width: auto;
  height: auto;
}

.resvR {
  display: flex;
}

.resvF input::placeholder {
  font-size: 0.7vw;
  font-style: italic;
  color: black;
}

.resvF input {
  background: none;
  background-color: rgb(183, 183, 183);
}

.resvF h2 {
  margin-bottom: 0.000001vw;
}

.resvR2 {
  display: flex;
  border-bottom: 0.1vw black solid;
  padding-bottom: 1vw;
}

.resvF {
  margin-right: 1vw;
}

.resvR3 {
  height: 15vw; /* fixed height */
  overflow-y: auto; /* <-- vertical scrolling */
  overflow-x: hidden; /* optional: prevent horizontal scroll */
  padding: 10px;
}

.orderform {
  padding-left: 100vw;
}
.row {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 1vw;
}
select,
input[type="number"] {
  padding: 0.0005vw 0.0005vw;
  font-size: 14px;
}
button {
  padding: 0.2vw 0.5vw;
  font-size: 14px;
  cursor: pointer;
  background: rgb(183, 183, 183);
  color: black;
}

.controls {
  display: flex;
  gap: 1vw;
}

.remove {
  background: #ff99a2;
  border: 0.1vw solid rgb(255, 0, 25);
}

.add {
  background: rgb(193, 242, 220);
  border: 0.1vw solid #00ff59;
}

.qtyInput {
  background: rgb(183, 183, 183);
  color: black;
}

.inputItem {
  background: rgb(183, 183, 183);
  color: black;
}

.dateDiv{
  margin-left: 1vw;
}


/* 
  _____        __      
 |_   _|      / _|     
   | |  _ __ | |_ ___  
   | | | '_ \|  _/ _ \ 
  _| |_| | | | || (_) |
 |_____|_| |_|_| \___/ 
*/

.info {
  padding-left: 10vw;
  font-family: poppins;
  text-align: center;
  background-color: rgba(30, 66, 121, 0.445);
}

.info h1 {
  font-size: 5vw;
}

.infoR1 {
  display: flex;
}

.infoCard {
  background-color: rgba(59, 131, 240, 0.507);
  margin-right: 20vw;
  margin-bottom: 1vw;
  border-radius: 1.7vw;
}

.infoCard p {
  font-size: 1vw;
}

.infoCard img {
  width: 15vw;
  height: auto;
}
